.taskManager {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.headers {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.dd {
  display: flex;
}
.taskWrapper {
  width: 25%;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
}

.task {
  background-color: var(--background-blue);
  border-radius: var(--border-radius);
  padding: 5px;
}

.task h4 {
  padding: 0;
  margin: 0;
}

.task p {
  font-size: 0.875rem;
  font-weight: lighter;
}
