.grid {
  width: 90%;
  grid-auto-flow: row;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1.5fr;
  gap: 0px 0px;
  grid-template-areas:
    '. . . .'
    '. . . .'
    '. . . .';
}

.columnTitles {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
