.base {
  text-decoration: none;
  color: var(--text-grey);
  padding: 0;
  margin: 0;
  height: 20px;
  display: flex;
  align-items: center;
}

.base:hover {
  color: var(--text-white);
  transition: var(--transition-speed) ease-in;
}
